.home .CTA-button-one {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 1rem 1.25rem;
}

.hero-info {
    max-width: 36rem;
    width: 100%;
}

.hero-info h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.hero-info p {
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
}

.hero-image {
    border-radius: 2rem;
    height: 20rem;
    width: 25rem;
    display: none;
    object-fit: cover;
}

.movies-card {
    background-color: var(--accent-four);
    border-radius: 2rem;
    color: var(--primary);
    width: 100%;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.25rem;
}

.movies-card a {
    width: fit-content;
    align-self: end;
}

.movies {
    display: flex;
    column-gap: 2.25rem;
    overflow-x: scroll;
    scrollbar-width: none;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-poster-container {
    border-radius: 1rem;
    height: 20rem;
    width: 13rem;
}

.movie-poster-container:hover ~ .movie-title {
    color: var(--accent-two);
}

.movie-poster {
    border-radius: 1rem;
    height: 20rem;
    width: 13rem;
    cursor: pointer;
}

.movie-poster-back {
    background-color: var(--primary);
    border-radius: 1rem;
    height: 20rem;
    width: 13rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    position: relative;
}

.movie-poster-back .movie-poster {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}

.movie-poster-back .CTA-button-one {
    background-color: transparent;
    transition: color 0.1s ease-in-out;
    z-index: 10;
}

.movie-poster-back .CTA-button-one:hover {
    background-color: transparent;
    color: var(--accent-two);
}

.movie-title {
    color: var(--primary);
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    transition: color 0.1s ease-in-out;
}

.movie-title:hover {
    color: var(--accent-two);
}

.movie-brief-info {
    color: var(--accent-three);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0.75rem;
    text-align: center;
}

.movie-trailer-container {
    background-color: rgba(20, 20, 20, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.close { /** Temporary css **/
    color: var(--secondary);
    font-size: 3rem;
}

.promo-subscription .section-container {
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
}

.promo-subscription h2 {
    max-width: 45rem;
    text-align: center;
}

.promo-subscription form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: normal;
    row-gap: 1.5rem;
}

.promo-subscription .user-info-input {
    font-size: 0.875rem;
    max-width: 80%;
    width: 100%;
}

.promo-subscription .user-info-input::placeholder {
    color: var(--accent-three);
    font-size: 0.875rem;
    font-weight: 500;
}

.promo-subscription .CTA-button-one {
    padding: 1rem 2.5rem;
}

@media only screen and (min-width: 40rem) {
    .home .CTA-button-one {
        font-size: 1rem;
    }

    .hero-info h1 {
        font-size: 2.25rem;
    }

    .promo-subscription .user-info-input {
        font-size: 1rem;
    }

    .promo-subscription .user-info-input::placeholder {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 48rem) {
    .movies-card {
        padding: 3rem;
        row-gap: 3rem;
    }

    .movies-card-titles {
        column-gap: 2.5rem;
    }

    .movies {
        column-gap: 3rem;
    }

    .promo-subscription form {
        flex-direction: row;
        column-gap: 1rem;
        row-gap: normal;
    }

    .promo-subscription .user-info-input {
        max-width: 32rem;
    }
    
    .promo-subscription .CTA-button-one {
        padding: 1rem 1.25rem;
    }
}

@media only screen and (min-width: 64rem) {
    .hero-image {
        display: flex;
    }

    .promo-subscription h2 {
        max-width: fit-content;
    }
}