.navigation-bar {
    background-color: var(--secondary);
    border-bottom: var(--tertiary-two) 0.0625rem solid;
    height: 3.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    z-index: 50;
}

.navigation-bar.top-position {
    border-bottom-color: transparent;
}

.navigation.side-navigation {
    background-color: transparent;
}

.navigation-bar-container {
    height: 100%;
    max-width: 75rem; /** Accommodates for padding-left & padding-right **/
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background-color: var(--accent-four);
    border-radius: 2rem;
    outline: transparent 0.125rem solid;
    height: 2.25rem;
    max-width: 32rem;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    transition: outline 0.2s ease-in-out;
}

.search-bar:focus-within {
    outline: var(--accent-two) 0.125rem solid;
}

.search-input {
    background-color: transparent;
    border: none;
    color: var(--primary);
    outline: none;
    font-size: 0.875rem;
    font-weight: 500;
    height: 100%;
    max-width: 30rem;
    width: 100%;
    padding-left: 1rem;
}

.search-input::placeholder {
    color: var(--accent-three);
}

.search-icon-wrapper {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 2.5rem;
    padding: 0.625rem 1rem 0.625rem 0.5rem;
}

.search-icon-wrapper:hover .search-icon {
    color: var(--primary);
}

.search-icon {
    color: var(--accent-three);
    height: 1rem;
    width: 1rem;
    transition: color 0.1s ease-in-out;
}

.navigation-menu ol {
    display: flex;
    align-items: center;
    column-gap: 0;
}

.navigation-menu li {
    display: flex;
}

.navigation-link {
    font-size: 0.875rem;
    font-weight: 500;
    display: none;
}

.mobile-search-wrapper {
    background-color: transparent;
    border: none;
    padding: 0.5625rem;
    display: none; /** Disabled for now **/
    transform: translateY(0.03125rem);
}

.mobile-search-wrapper.is-hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    visibility: hidden;
}

.mobile-search-icon {
    color: var(--primary);
    height: 1.125rem;
    width: 1.125rem;
}

.hamburger-menu {
    appearance: none;
    background: none;
    border: none;
    height: 2.75rem;
    width: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0.625rem;
}

.hamburger-menu.is-active .hamburger-line {
    background-color: transparent;
}

.hamburger-menu.is-active .hamburger-line::before {
    transform: rotate(45deg);
}

.hamburger-menu.is-active .hamburger-line::after {
    transform: rotate(-45deg);
}

.hamburger-line {
    background-color: var(--primary);
    border-radius: 0.5rem;
    height: 0.125rem;
    width: 1.5rem;
    transition: background-color 0.2s ease-in-out;
}

.hamburger-line::before, .hamburger-line::after {
    content: '';
    background-color: var(--primary);
    border-radius: 0.5rem;
    height: 0.125rem;
    width: 1.5rem;
    display: block;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}

.hamburger-line::before {
    transform: translateY(-0.5rem);
}

.hamburger-line::after {
    transform: translateY(0.5rem);
}

.side-navigation-menu {
    background-color: var(--secondary);
    border-top: var(--tertiary-two) 0.0625rem solid;
    height: 100vh;
    width: calc(100% - 2rem);
    padding: 3.75rem 1.5rem 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.875rem;
    position: fixed;
    top: 0;
    left: 2rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    visibility: hidden;
    z-index: 40;
}

.side-navigation-menu.is-active {
    opacity: 1;
    visibility: visible;
}

.side-navigation-header {
    background-color: var(--secondary);
    height: 3.75rem;
    width: calc(100% - 2rem);
    position: fixed;
    top: 0;
    left: 2rem;
    z-index: 45;
}

.side-navigation-lists {
    overflow: auto;
}

.side-navigation-title {
    color: var(--accent-two);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0.875rem 1rem;
}

.side-navigation-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.side-navigation-link {
    background-color: transparent;
    color: var(--primary);
    font-size: 0.875rem;
    font-weight: 500;
    width: 100%;
    padding: 0.625rem 0.875rem;
    display: block;
    text-align: start;
    transition: color 0.1s ease-in-out;
}

.side-navigation-link:hover {
    color: var(--accent-two);
}

.side-navigation-user-account {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.side-navigation-user-account .CTA-button-one, .side-navigation-user-account .CTA-button-two {
    font-size: 0.875rem;
    font-weight: 500;
    width: 100%;
}

.side-navigation-overlay {
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(0.25rem);
    height: 100vh;
    width: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    visibility: hidden;
    z-index: 60;
}

.side-navigation-overlay.is-active {
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 22rem) {
    .side-navigation-menu, .side-navigation-header {
        width: 20rem;
        left: calc(100% - 20rem);
    }

    .side-navigation-overlay {
        width: calc(100% - 20rem);
    }
}

@media only screen and (min-width: 64rem) {
    .search-bar {
        display: flex;
    }

    .navigation-menu ol {
        column-gap: 0.5rem;
    }

    .navigation-link {
        display: flex;
    }

    .mobile-search-wrapper {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
}