.search-results .section-container-top {
    align-items: normal;
    flex-direction: column;
    row-gap: 3rem;
}

* {
    box-sizing: border-box;
}

.search-results-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.search-result {
    background-color: var(--accent-four);
    border-radius: 2rem;
    width: 100%;
}

.search-result:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    background-color: var(--accent-five);
}

.search-results-header {
    padding: 10px;
    text-align: left;
}

.search-result-row {
    display: -webkit-flex;
    display: flex;
}

.search-result-image {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    object-fit: contain;
    margin-right: 20px;
}

.search-result-info {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    row-gap: 1rem;
    flex-direction: column;
    display: flex;
}

.search-result-footer {
    padding: 10px;
    text-align: left;
}

@media only screen and (min-width: 48rem) {
    .search-result {
        padding: 3rem;
    }
}

@media only screen and (min-width: 64rem) {
    .search-results-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 3rem;
    }

    .search-result {
        width: calc(50% - 1.5rem);
    }
}