.temporary .CTA-button-one, .temporary .CTA-button-two {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    padding: 1rem 1.25rem;
}

.temporary .user-info-option {
    width: fit-content;
    align-self: end;
}

.temporary-search-results {
    background-color: var(--secondary);
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
}

.temporary-search-results.is-active {
    opacity: 1;
    visibility: visible;
}

.temporary-search-result {
    max-width: 16rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.search-result-image {
    height: 10rem;
    width: 6rem;
    border-radius: 1rem;
    z-index: 20;
}

.temp-close {
    color: var(--accent-two);
    font-size: 2rem;
    font-weight: 700;
    z-index: 40;
    cursor: pointer;
}